<footer class="footer-container">
  <div class="footer-content">

    <div class="footer-section">
      <h4>Apri Digital</h4>
      <p>Transformando ideas en soluciones de software innovadoras.</p>
    </div>

    <div class="footer-section">
      <h4>Enlaces Útiles</h4>
      <ul>
        <li><a routerLink="/home">Inicio</a></li>
        <li><a routerLink="/services">Servicios</a></li>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/proyectos">Proyectos</a></li>
      </ul>
    </div>

    <div class="footer-section">
      <h4 routerLink="/contacto">Contacto</h4>
      <p>Email: <a href="mailto:apridigitals@gmail.com" class="email">apridigitals&#64;gmail.com</a></p>
      <p>Teléfono: <a href="tel:+34 663 227 978" class="number">+34 663 227 978</a></p>
      <div class="social-icons">
        <a href="https://www.instagram.com/apri_digital/" target="_blank">
          <img src="assets/footer/instagram.png" alt="Instagram" />
        </a>
        <a href="https://www.linkedin.com/company/apri-digital-software-solutions/" target="_blank"><img src="assets/footer/linkedin.png" alt="LinkedIn" /></a>
      </div>
    </div>

  </div>

  <div class="footer-bottom">
    <p>&copy; 2024 Apri Sistemas. Todos los derechos reservados.</p>
  </div>
</footer>