<div class="header">
  <section class="top-bar-wrapper">
    <div class="top-bar">
      <!--<span class="phone-number">Teléfono: 981 92 33 60</span>-->
      <a href="#" class="private-link">ZONA PRIVADA</a>
    </div>
  </section>

  <header>
    <div class="header-content">
      <section class="logo">
        <a routerLink="/home">
          <img src="assets/apri-digital.png" alt="Apri Digital Logo"/>
        </a>
      </section>

      <section class="nav-container">
        <nav class="navigation">
          <ul>
            <li><a routerLink="/home" class="active">INICIO</a></li>
            
            <li class="dropdown">
              <a href="#" class="dropdown-link">SERVICIOS</a>
              <ul class="dropdown-menu">
                <li><a href="#">Desarrollo de software</a></li>
                <li><a href="#">Aplicaciones móviles</a></li>
                <li><a href="#">Desarrollo Web</a></li>
                <li><a href="#">Consultoría IT</a></li>
              </ul>
            </li>

            <li><a href="#">PRODUCTOS</a></li>
            <li><a href="#">PROYECTOS</a></li>
            <li><a href="#">CONTACTO</a></li>
          </ul>
        </nav>
        <div class="menu-container">
          <button class="menu-toggle" aria-label="Open Menu" (click)="toggleMenu()">&#9776;</button>
        </div>
      </section>
    </div>

    <nav class="side-menu" id="sideMenu">
      <button class="close-menu" aria-label="Close Menu" (click)="toggleMenu()">&times;</button>
      <ul>
        <li><a href="#">INICIO</a></li>

        <li class="side-dropdown">
          <div class="side-dropdown-header">
            <a href="#" class="side-dropdown-link">SERVICIOS</a>
            <span class="side-dropdown-toggle" (click)="toggleSubmenu($event)">▼</span>
          </div>
          
          <ul class="side-dropdown-menu" id="servicesSubmenu">
            <li><a href="#">Desarrollo de software</a></li>
            <li><a href="#">Aplicaciones móviles</a></li>
            <li><a href="#">Desarrollo Web</a></li>
            <li><a href="#">Consultoría IT</a></li>
          </ul>
        </li>

        <li><a href="#">PRODUCTOS</a></li>
        <li><a href="#">PROYECTOS</a></li>
        <li><a href="#">CONTACTO</a></li>
      </ul>
    </nav>
  </header>
</div>