.header {
  background-color: #fff;
  border-bottom: 1px solid #a7a7a7; /*Eliminar*/
}

.top-bar-wrapper {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
}

.top-bar {
  width: 75%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
}

.private-link {
  color: #636363;
  font-size: 0.9em;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Figtree', sans-serif;
  padding: 15px 20px;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease, letter-spacing 0.3s ease;
}

.private-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #999;
  transition: width 0.3s ease;
}

.private-link:hover {
  background-color: #f0f0f0;
  color: #999;
  letter-spacing: 1px;
}

.private-link:hover::after {
  width: 100%;
}

.header-content {
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  min-width: 170px;
  max-width: 170px;
  margin: 14px 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-container {
  display: flex;
  align-items: center;
  padding: 30px;
}

.navigation {
  display: flex;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 30px;
}

.navigation ul li {
  position: relative;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  padding: 30px 25px;
  font-family: 'Red Hat Display', sans-serif;
}

.navigation ul li a.active {
  background-color: #f5f5f5;
  color: #333;
  border-bottom: 3px solid #727c89;
}

.navigation ul li a:hover {
  background-color: #f5f5f5;
}

/* Mantén el fondo del enlace "SERVICIOS" visible cuando se hace hover sobre el submenú */
.dropdown:hover > a.dropdown-link {
  background-color: #f5f5f5;
  color: #000;
}

.dropdown:hover .dropdown-menu {
  display: block;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.dropdown-menu {
  display: none;
  visibility: hidden;
  position: absolute;
  top: calc(100% + 30px);
  left: 0;
  background-color: #fff;
  border: 4px solid #f5f5f5;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0;
  min-width: 225px;
  width: 225px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown .dropdown-link.active + .dropdown-menu {
  top: calc(100% + 32px); /* Cambia según la clase active */
}

.dropdown-menu li a {
  color: #616161 !important;
  padding: 20px 25px !important;
  white-space: nowrap;
  display: block;
  transition: color 0.3s ease, text-indent 0.3s ease;
  text-indent: 0;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0; /* Color de fondo gris claro al pasar el ratón */
  color: #000 !important;
  text-indent: 10px; /* Desplazamiento del texto a la derecha */
}

.menu-container {
  display: none;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: #333;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: auto; /* Mueve el menú hamburguesa a la derecha */
}

.side-menu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background-color: #f5f5f5;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  z-index: 1000;
  overflow-y: auto;
  transition: right 0.3s ease;
}

.side-menu.open {
  right: 0;
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-menu ul li {
  border-bottom: 1px solid #ddd;
  position: relative;
}

.side-menu ul li a {
  display: block;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.side-menu ul li a:hover:not(.side-dropdown-link) {
  background-color: #e0e0e0;
  padding-left: 30px;
}

.close-menu {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 25px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.close-menu:hover {
  transform: scale(1.1);
}

/* Estilos específicos para el enlace SERVICIOS y su flecha */
.side-dropdown {
  position: relative;
}

.side-dropdown-header {
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.side-dropdown-header:hover {
  background-color: #e0e0e0;
  padding-left: 10px;
}

.side-dropdown-link {
  flex-grow: 1;
  padding: 15px 20px;
  text-decoration: none;
  color: #333;
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 500;
  transition: background-color 0.3s ease, padding-left 0.3s ease;
}

.side-dropdown-toggle {
  cursor: pointer;
  padding: 15px 20px;
  color: #333;
  transition: transform 0.3s ease;
}

/* Estilos para el submenú dentro del menú lateral */
.side-dropdown.open .side-dropdown-menu {
  display: block;
}

.side-dropdown-menu {
  display: none;
  padding-left: 15px !important;
}

.side-dropdown-menu li {
  padding: 10px 0;
}

.side-dropdown-menu li a {
  font-size: 14px;
  padding-left: 10px;
  color: #616161;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.side-dropdown-menu li a:hover {
  padding-left: 20px;
  color: #000;
}

@media (max-width: 1160px) {
  .header {
    border-bottom: none;
  }

  .header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #a7a7a7;
    margin-top: 10px;
  }

  .header-content {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 20px;
  }

  .navigation {
    justify-content: center;
  }

  .navigation ul {
    flex-direction: row;
  }
}

@media (max-width: 822px) {
  .top-bar {
    width: 100%;
  }

  .header-content {
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
    flex-direction: row; /* Asegura que el logo y el menú hamburguesa estén en la misma línea */
  }

  .navigation {
    display: none;
  }

  .menu-container {
    background: #eee;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    border-radius: 3px;
  }

  .menu-toggle {
    display: block;
    margin-left: auto; /* Alinea el menú hamburguesa a la derecha */
  }
}