<app-title imageSrc="assets/title/productos-page.jpg" titleText="Desarrollamos productos enfocados
a mejorar su negocio"></app-title>
<section class="product-page">
  <h1 class="products-title">Productos que impulsan tu negocio</h1>
  <h3 class="products-subtitle">
    Tecnología y calidad en cada uno de nuestros productos.
  </h3>

  <div class="product-list">
    <app-card
      *ngFor="let product of products"
      [product]="product"
      (productClicked)="navigateToDetail(product.id)"
    ></app-card>
  </div>

</section>