.product-page {
  padding: 40px 20px;
  background-color: #ffffff;
  text-align: center;
}

.products-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2c3e50;
  font-family: 'Roboto Mono', sans-serif;
}

.products-subtitle {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #7f8c8d;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Open Sans', sans-serif;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}