<div class="slider-container" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()" (touchstart)="onMouseEnter()" (touchend)="onMouseLeave()"
          (touchstart)="onTouchStart($event)" (touchmove)="onTouchMove($event)" (touchend)="onTouchEnd()">
  <div class="slider-wrapper" [ngStyle]="{'transform': 'translateX(' + (-currentSlide * 100) + '%)'}">
    <div class="slide" *ngFor="let slide of slides; let i = index" [ngStyle]="{'background-image': 'url(' + slide.image + ')'}">
      <div class="caption" [ngStyle]="slide.captionPosition" [class.active-caption]="i === currentSlide">
        <h2>{{slide.title}}</h2>
        <p>{{slide.description}}</p>
      </div>
    </div>
  </div>

  <!-- Navigation Buttons -->
  <button class="slider-button slider-button-left" (click)="prevSlide()">&#10094;</button>
  <button class="slider-button slider-button-right" (click)="nextSlide()">&#10095;</button>

  <!-- Dots Navigation -->
  <div class="dots-container">
    <span *ngFor="let slide of slides; let i = index" class="dot" [ngClass]="{'active': i === currentSlide}" (click)="goToSlide(i)"></span>
  </div>
</div>