.slider-container {
  position: relative;
  width: 100%;
  height: 500px; /* Altura fija de 500px para el slider */
  overflow: hidden;
}

.slider-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

.slider-wrapper {
  display: flex;
  /*transition: transform 0.6s ease-in-out;*/
  width: 100%;
  height: 100%;
}

.slide {
  min-width: 100%;
  height: 100%;
  background-size: cover; /* Ajusta la imagen para cubrir el contenedor */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  position: relative;
}

/* Caption Styles */
.caption {
  position: absolute;
  color: white;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 8px rgb(0, 0, 0);
  z-index: 10;
  opacity: 0; /* Por defecto, los captions son invisibles */
  transition: opacity 0.8s ease-in-out; /* Transición suave */
}

.active-caption {
  opacity: 1; /* El caption del slide actual se vuelve visible */
}

.caption h2 {
  font-size: 36px;
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
}

.caption p {
  font-size: 19px;
  font-family: 'Figtree', sans-serif;
  margin: 5px 0 0 0;
}

/* Navigation Buttons */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 3px 6px rgba(80, 80, 80, 0.5);
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  z-index: 10;
  transition: background-color 0.3s ease;
  color: rgb(238, 238, 238);
  line-height: 0.5;
}

.slider-button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.slider-button-left {
  left: 10px;
}

.slider-button-right {
  right: 10px;
}

/* Dots Navigation */
.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
  z-index: 10;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(8, 8, 8, 0.5);
  box-shadow: 0px 3px 6px rgba(106, 106, 106, 0.5);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: rgba(0, 0, 0, 0.9);
}

/* Responsividad para pantallas grandes (pantallas de escritorio) */
@media (min-width: 1200px) {
  .slider-container {
    height: 500px; /* Altura mayor para pantallas grandes */
  }

  .caption h2 {
    font-size: 2.5em; /* Tamaño de fuente aumentado */
  }

  .caption p {
    font-size: 1.2em; /* Tamaño de fuente aumentado */
  }
}

/* Responsividad para pantallas medianas (tabletas) */
@media (min-width: 769px) and (max-width: 1024px) {
  .slider-container {
    height: 400px; /* Altura ajustada para pantallas medianas */
  }

  .caption h2 {
    font-size: 1.8em; /* Tamaño de fuente ajustado para pantallas medianas */
  }

  .caption p {
    font-size: 1em; /* Tamaño de fuente ajustado para pantallas medianas */
  }

  .slider-button {
    width: 35px; /* Tamaño ligeramente mayor para pantallas medianas */
    height: 35px;
    font-size: 1.3em; /* Tamaño de fuente ligeramente mayor */
  }
}

/* Responsividad para pantallas pequeñas (móviles) */
@media (max-width: 768px) {
  .slider-container {
    height: 300px; /* Altura ajustada para dispositivos móviles */
  }

  .caption h2 {
    font-size: 1.5em; /* Tamaño de fuente reducido */
  }

  .caption p {
    font-size: 0.8em; /* Tamaño de fuente reducido */
  }

  .slider-button {
    width: 30px; /* Tamaño reducido de los botones */
    height: 30px;
    font-size: 1.2em; /* Tamaño de fuente reducido */
  }
}