<app-title imageSrc="assets/title/desarrollo-web.jpg" titleText="Desarrollo web personalizado para potenciar tu presencia online"></app-title>
<app-section 
  imageSrc="assets/section/desarrollo-web.png" 
  mainTitle="Diseño y Desarrollo Web de Alto Impacto"
  [sections]="[
    { 
      title: 'Soluciones Web Personalizadas', 
      content: 'Desarrollamos sitios web personalizados que destacan por su diseño único y funcionalidad avanzada. Nos enfocamos en crear experiencias de usuario memorables que conviertan visitantes en clientes leales, utilizando tecnologías modernas y técnicas de desarrollo ágil para garantizar que tu sitio web esté siempre a la vanguardia.'
    },
    { 
      title: 'Optimización y Rendimiento Web',
      content: 'Nos aseguramos de que tu sitio web esté optimizado para ofrecer un rendimiento excelente y una carga rápida. Implementamos prácticas recomendadas para mejorar la velocidad del sitio y garantizar una experiencia fluida para los usuarios, contribuyendo a una mayor retención y satisfacción.',
      list: ['Desarrollo responsivo y adaptativo', 'Optimización para velocidad y rendimiento', 'Integración de herramientas analíticas y de SEO']
    }
  ]">
</app-section>