<app-title 
    imageSrc="assets/title/contacto-page.png" 
    titleText="Contáctanos para más información">
</app-title>

<div class="contact-container">
  <div class="info-card">
    <h1>Apri Digital</h1>
    <p>Tu socio confiable en el desarrollo de soluciones tecnológicas a medida.</p>
    <ul>
      <li>Desarrollo de software a medida</li>
      <li>Desarrollo de aplicaciones móviles</li>
      <li>Desarrollo web</li>
      <li>Consultoría tecnológica</li>
    </ul>
    <p>Hablemos de cómo podemos impulsar tu negocio al siguiente nivel.</p>
    <div class="contact-info">
      <h2>Información de Contacto</h2>
      <p>
        <strong>Email: </strong> 
        <a href="mailto:info@apridigital.com">info&#64;apridigital.com</a>
      </p>
      <p>
        <strong>Teléfono: </strong> 
        <a href="tel:+34912345678">+34 663 227 978</a>
      </p>
    </div>
  </div>

  <div class="form-card">
    <h2>Contáctanos</h2>
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" id="name" formControlName="name" 
               [ngClass]="{ 'is-invalid': submitted && f['name'].errors }">
        <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
          <div *ngIf="f['name'].errors['required']">El nombre es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input type="email" id="email" formControlName="email" 
               [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors['required']">El correo es requerido</div>
          <div *ngIf="f['email'].errors['email']">Por favor, introduce un correo válido</div>
        </div>
      </div>

      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea id="message" formControlName="message" rows="5"
                  [ngClass]="{ 'is-invalid': submitted && f['message'].errors }"></textarea>
        <div *ngIf="submitted && f['message'].errors" class="invalid-feedback">
          <div *ngIf="f['message'].errors['required']">El mensaje es requerido</div>
        </div>
      </div>

      <div *ngIf="interaction.successMessage" class="success-message">
        {{ interaction.successMessage }}
      </div>
      
      <div *ngIf="interaction.errorMessage" class="error-message">
        {{ interaction.errorMessage }}
      </div>

      <button type="submit" class="submit-btn">Enviar mensaje</button>
    </form>
  </div>
</div>