<app-title *ngIf="entity.type === 'productos'" 
           imageSrc="assets/title/productos-page.jpg" 
           titleText="Desarrollamos productos enfocados a mejorar su negocio">
</app-title>

<app-title *ngIf="entity.type === 'proyectos'" 
           imageSrc="assets/title/proyectos-page.jpg" 
           titleText="Nuestro compromiso reflejado en cada proyecto">
</app-title>

<app-section 
  [imageSrc]="entity.imageSrc.url" 
  [mainTitle]="entity.title"
  [sections]="entity.sections"
></app-section>

<app-gallery [images]="entity.images"></app-gallery>

<app-video [videoUrl]="entity.videoUrl.url" [entityType]="entity.type"></app-video>