<app-title imageSrc="assets/title/consultoria-page.png" titleText="Consultoría IT estratégica para soluciones tecnológicas eficaces"></app-title>
<app-section 
  imageSrc="assets/section/consultoria-section.jpg" 
  mainTitle="Consultoría y Asesoramiento en Soluciones Tecnológicas"
  [sections]="[
    { 
      title: 'Optimización de Software y Sistemas Tecnológicos', 
      content: 'Ofrecemos servicios de consultoría tecnológica para mejorar tus sistemas de software y la infraestructura tecnológica. Evaluamos a fondo tus aplicaciones actuales y los procesos de desarrollo, proponiendo mejoras en la arquitectura, escalabilidad y rendimiento de tu software. Realizamos un análisis detallado de tu entorno de TI para identificar áreas de optimización y oportunidades para reducir costos sin sacrificar el rendimiento. Además, proporcionamos soluciones para optimizar el ciclo de vida de tus proyectos tecnológicos, garantizando que estén alineados con los objetivos estratégicos de tu empresa. Nuestro equipo trabaja contigo para desarrollar estrategias que maximicen la eficiencia operativa y aseguren que tus sistemas de software sean robustos, seguros y escalables.'
    },
    { 
      title: 'Adopción de Nuevas Tecnologías',
      content: 'Te ayudamos a integrar tecnologías emergentes que impulsan el crecimiento de tu negocio. Nuestro equipo de expertos proporciona estrategias tecnológicas personalizadas que se alinean perfectamente con tus objetivos empresariales, optimizando la eficiencia y fortaleciendo tu posición en el mercado.',
      list: ['Implementación de prácticas de desarrollo ágil', 'Automatización de pruebas y despliegues', 'Optimización del ciclo de vida del software']
    }
  ]">
</app-section>