.section-container {
  display: flex;
  flex-direction: column; /* Alinea elementos verticalmente */
  justify-content: center;
  align-items: flex-start;
  padding: 0px 20px 60px 20px;
  background-color: #fff;
}

.title-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 20px auto;
  padding-left: 0px;
}

.sub-title {
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #34495e;
  text-align: left;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
  padding: 0px 20px;
}

.video-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  padding-top: 0;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.video-container video {
  width: 100%;
  height: auto;
  border-radius: 10px;
  display: block;
}

/* Media Query 1: Para pantallas medianas */
@media (max-width: 1160px) {
  .sub-title {
    font-size: 1.6em;
  }

  .video-container {
    max-width: 600px;
  }
}

@media (max-width: 822px) {
  .sub-title {
    font-size: 1.4em;
    padding-left: 20px;
  }

  .video-container {
    max-width: 100%;
  }
}