<div class="services-container">
  <h1 class="services-title">Nuestras soluciones en tecnología</h1>
  <h3 class="services-subtitle">
    Descubre cómo nuestras soluciones personalizadas pueden transformar tu negocio digitalmente.
  </h3>
  <div class="services-grid">

    <div class="service-card">
      <a routerLink="/#">
        <img src="assets/services/servicios-desarrollo-software.png" alt="Desarrollo de Software" class="service-image"/>
        <h2 class="service-title">Desarrollo de Software</h2>
        <p class="service-description">Creamos aplicaciones a medida para impulsar la eficiencia y productividad de tu empresa.</p>
      </a>
    </div>

    <div class="service-card">
      <a routerLink="/#">
        <img src="assets/services/desarrollo-movil.png" alt="Aplicaciones Móviles" class="service-image"/>
        <h2 class="service-title">Aplicaciones Móviles</h2>
        <p class="service-description">Desarrollamos apps innovadoras que conectan con tus clientes de manera única y efectiva.</p>
      </a>
    </div>

    <div class="service-card">
      <a routerLink="#">
        <img src="assets/services/desarrollo-web.png" alt="Desarrollo Web" class="service-image"/>
        <h2 class="service-title">Desarrollo Web</h2>
        <p class="service-description">Diseñamos sitios web responsivos y optimizados para ofrecer la mejor experiencia a tus usuarios.</p>
      </a>
    </div>

    <div class="service-card">
      <a routerLink="/#">
        <img src="assets/services/consultoria-tec.png" alt="Consultoría IT" class="service-image"/>
        <h2 class="service-title">Consultoría IT</h2>
        <p class="service-description">Ofrecemos asesoramiento experto para alinear la tecnología con tus objetivos de negocio.</p>
      </a>
    </div>

  </div>
</div>