<div class="services-container">
  <h1 class="services-title">Consultoría informática y desarrollo de software</h1>
  <h3>En Apri Sistemas somos especialistas en software de gestión empresarial, integración de sistemas, aplicaciones móviles y páginas web</h3>
  <div class="services-grid">

    <div class="service-card">
      <img src="assets/servicios-desarrollo-software.png" alt="Desarrollo de Software" class="service-image" />
      <h2 class="service-title">Desarrollo de Software</h2>
      <p class="service-description">Soluciones personalizadas para optimizar tu negocio.</p>
    </div>

    <div class="service-card">
      <img src="assets/aplicaciones-moviles.jpg" alt="Aplicaciones Móviles" class="service-image" />
      <h2 class="service-title">Aplicaciones Móviles</h2>
      <p class="service-description">Innovación en desarrollo móvil a medida.</p>
    </div>

    <div class="service-card">
      <img src="assets/desarrollo-web.jpg" alt="Desarrollo Web" class="service-image" />
      <h2 class="service-title">Desarrollo Web</h2>
      <p class="service-description">Creación de sitios web adaptados a tus necesidades.</p>
    </div>

    <div class="service-card">
      <img src="assets/consultoria-it.jpg" alt="Consultoría IT" class="service-image" />
      <h2 class="service-title">Consultoría IT</h2>
      <p class="service-description">Asesoramiento experto en tecnología de la información.</p>
    </div>

  </div>
</div>