<app-title imageSrc="assets/title/software-page.jpg" titleText="Desarrollo de software a medida para optimizar procesos"></app-title>
<app-section 
  imageSrc="assets/section/desarrollo-software.jpg" 
  mainTitle="Desarrollo de Software Personalizado"
  [sections]="[
    { 
      title: 'Desarrollo a Medida para Empresas', 
      content: 'Creamos software personalizado que se adapta perfectamente a las necesidades específicas de tu empresa. Desde la conceptualización hasta la implementación, trabajamos estrechamente contigo para asegurar que el software cumpla con tus expectativas y se alinee con tus objetivos estratégicos.',
      list: ['Desarrollo de aplicaciones empresariales', 'Soluciones escalables y seguras', 'Actualizaciones y mantenimiento continuo']
    },
    { 
      title: 'Integración de Soluciones Existentes',
      content: 'Integramos nuevas funcionalidades y herramientas con tus sistemas existentes para mejorar la eficiencia operativa. Ya sea una integración de CRM, ERP o cualquier otro sistema, garantizamos una integración fluida y sin interrupciones.'
    }
  ]">
</app-section>