.parallax-container {
  position: relative;
  height: 550px;
  background-image: url("/assets/parallax/parallax-equipo.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.parallax-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card {
  text-align: center;
  max-width: 300px;
}

.icon-background {
  background-color: rgb(35, 35, 35);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.icon {
  display: block;
  max-width: 60%;
  max-height: 60%;
  object-fit: contain;
  filter: invert(1);
}

h3 {
  font-size: 1.5em;
  margin: 10px 0;
  color: black;
  font-family: 'Roboto Mono', sans-serif;
}

p {
  font-size: 1em;
  color: #333;
  font-family: 'Open Sans', sans-serif;
}

/* Media Query para pantallas medianas (hasta 1160px) */
@media (max-width: 1160px) {
  .parallax-container {
    height: auto;
    min-height: 600px; /* Ajusta automáticamente la altura */
    padding: 20px 0;
  }

  .parallax-content {
    gap: 15px;
    padding: 0 10px;
    max-height: 100%;
  }

  .info-card {
    max-width: 250px;
    padding-top: 15px;
  }
}

/* Media Query para pantallas pequeñas (hasta 822px) */
@media (max-width: 880px) {
  .parallax-container {
    height: auto;
    min-height: 700px; /* Aumenta la altura para móviles */
    padding: 40px 0;
    background-attachment: scroll; /* Mejora el rendimiento en móviles */
  }

  .parallax-content {
    flex-direction: column; /* Apila verticalmente */
    align-items: center; /* Centra las tarjetas */
    gap: 10px;
    width: 80%; /* Reduce el ancho del contenido al 90% */
    margin: 0 auto; /* Centra el contenido con un margen automático */
    padding: 0 15px;
    max-height: 100%;
  }

  .info-card {
    max-width: 100%;
    padding-top: 15px;
  }

  h3 {
    font-size: 1.4em; /* Reduce el tamaño del texto */
  }
}