<div class="parallax-container">
  <div class="parallax-content">

    <div class="info-card">
      <div class="icon-background">
        <img src="assets/parallax/compromiso.png" alt="Compromiso" class="icon">
      </div>
      <h3>Compromiso</h3>
      <p>Estamos comprometidos con tu éxito en cada paso, brindando colaboración y transparencia.</p>
    </div>

    <div class="info-card">
      <div class="icon-background">
        <img src="assets/parallax/innovacion.png" alt="Innovación Constante" class="icon">
      </div>
      <h3>Innovación Constante</h3>
      <p>Siempre en busca de nuevas tecnologías para ofrecerte soluciones de vanguardia.</p>
    </div>

    <div class="info-card">
      <div class="icon-background">
        <img src="assets/parallax/soporte-personalizado.png" alt="Atención Personalizada" class="icon">
      </div>
      <h3>Atención Personalizada</h3>
      <p>Nos enfocamos en entender tus necesidades y brindarte un servicio a medida.</p>
    </div>

  </div>
</div>