<section class="form-container">
  <div class="form-card">
    <form [formGroup]="entityForm" (ngSubmit)="onSubmit()" class="formulario">
      <h3 class="form-title">Formulario {{ entityType }}</h3>

      <div>
        <label for="title">Título</label>
        <input formControlName="title" id="title" type="text">
      </div>

      <div>
        <label for="subtitle">Subtítulo</label>
        <input formControlName="subtitle" id="subtitle" type="text">
      </div>

      <div *ngIf="editing && entity?.imageSrc">
        <label>Imagen Principal Actual:</label>
        <img [src]="entity?.imageSrc" alt="Imagen actual" class="image-preview">
      </div>

      <div>
        <label for="imageSrc">{{ editing ? "Nueva Imagen Principal" : "Imagen Principal" }}</label>
        <input (change)="onImageSelected($event)" id="imageSrc" type="file" accept="image/*">
      </div>

      <div *ngIf="editing && entity?.images?.length as imageLength" [hidden]="!imageLength">
        <label>Imágenes Adicionales Actuales:</label>
        <div class="additional-images">
          <img *ngFor="let image of entity?.images" [src]="image" alt="Imagen adicional" class="image-preview">
        </div>
      </div>      

      <div>
        <label for="images">{{ editing ? "Nuevas Imágenes Adicionales" : "Imágenes Adicionales" }}</label>
        <input (change)="onImagesSelected($event)" id="images" type="file" accept="image/*" multiple>
      </div>

      <div *ngIf="editing && entity?.videoUrl">
        <label>Vídeo Actual:</label>
        <video controls [src]="entity?.videoUrl" class="video-preview"></video>
      </div>

      <div>
        <label for="videoUrl">{{ editing ? "Reemplazar Vídeo Actual (Opcional)" : "Vídeo (Opcional)" }}</label>
        <input (change)="onVideoSelected($event)" id="videoUrl" type="file" accept="video/*">
      </div>

      <div formArrayName="sections">
        <div *ngFor="let section of sections.controls; let i = index" class="section-form">
          <div [formGroupName]="i">
            <label for="sectionTitle{{i}}">Título de sección</label>
            <input id="sectionTitle{{i}}" formControlName="title" type="text" class="form-input">

            <label for="sectionContent{{i}}">Contenido de sección</label>
            <textarea id="sectionContent{{i}}" formControlName="content" class="form-textarea"></textarea>
      
            <label>Lista (opcional)</label>
            <div formArrayName="list">
              <div *ngFor="let item of getList(i).controls; let j = index">
                <input [formControlName]="j" type="text" placeholder="Elemento de la lista" class="form-input">
                
                <!-- Botón redondo para eliminar elemento (-) -->
                <button type="button" (click)="removeListItem(i, j)" class="remove-button-list">-</button>
              </div>
      
              <!-- Botón redondo para añadir elemento (+) -->
              <button type="button" (click)="addListItem(i)" class="add-button-list">+</button>
            </div>
      
            <button type="button" (click)="removeSection(i)" class="remove-button">Eliminar sección</button>
          </div>
        </div>

        <button type="button" (click)="addSection()" class="add-button">Añadir Sección</button>
      </div>

      <div *ngIf="interaction.successMessage || successMessage" class="success-message">
        {{ interaction.successMessage || successMessage }}
      </div>
      
      <div *ngIf="interaction.errorMessage || errorMessage" class="error-message">
        {{ interaction.errorMessage || errorMessage }}
      </div>

      <button type="submit" [disabled]="loading" class="save-button">{{ editing ? "Editar" : "Guardar" }} {{ entityType }}</button>
    </form>
  </div>
</section>
