.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  height: 100vh;
  overflow: hidden;
  padding: 0px 20px 0px;
}

.form-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  overflow-y: auto;
  max-height: 100%;
}

.formulario {
  display: flex;
  flex-direction: column;
}

.form-title {
  margin-bottom: 15px;
  font-size: 24px;
  color: #2c3e50;
  font-family: 'Open Sans', sans-serif;
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #2c3e50;
  font-size: 16px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #fff;
  box-sizing: border-box;
}

input:focus {
  border-color: #2c3e50;
  outline: none;
}

.image-preview {
  width: 100%;
  max-width: 120px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.additional-images {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.video-preview {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.section-form {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-input, .form-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.form-textarea {
  width: 95%;
  resize: vertical;
}

.remove-button {
  background-color: #dc3545;
}

.add-button, .remove-button {
  display: inline-block;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;  
  background-color: #2c3e50;
  cursor: pointer;
  padding: 8px 15px;
}

.add-button:hover, .remove-button:hover {
  opacity: 0.9;
}

.add-button:active, .remove-button:active {
  transform: scale(0.98);
}

.save-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2c3e50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.save-button:hover {
  background-color: #23313e;
}

.save-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.ng-invalid.ng-touched {
  border-color: #dc3545;
}

@media (max-width: 822px) {
  .form-container {
    padding: 10px;
  }

  .form-card {
    width: 100%;
    padding: 20px;
  }

  button {
    width: 100%;
  }
}