<section class="description-section">
  <div class="content-container">
    <div class="text-content">
      <h2 class="section-title">Nuestros Servicios</h2>
      <p class="section-description">
        Ofrecemos una amplia gama de servicios de consultoría en tecnología de la información, adaptados a las necesidades específicas de su negocio. Nuestro equipo de expertos se dedica a proporcionar soluciones innovadoras que mejoren su eficiencia operativa y maximicen su rendimiento.
      </p>
    </div>
    <div class="image-content">
      <img src="assets/section/section.png" alt="Consultoría" class="description-image">
    </div>
  </div>
</section>