.section-container {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido al principio */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  padding: 40px 20px;
  background-color: #fff; /* Fondo blanco para toda la sección */
}

.section-content {
  display: flex;
  flex-direction: row;
  align-items: center; /* Mantiene el contenido centrado verticalmente */
  max-width: 1200px;
  margin: 0 auto;
}

.section-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px; /* Espacio entre la imagen y el texto */
  position: relative;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  margin-top: 50%; /* Ajusta la posición vertical de la imagen */
  transform: translateY(-50%); /* Mueve la imagen hacia arriba un 50% para centrarla verticalmente */
  border-radius: 10px;
}

.section-text {
  flex: 2;
  font-family: 'Open Sans', sans-serif;
  color: #333;
}