<section class="section-container">
  <div class="section-content">
    <div class="section-image">
      <img [src]="imageSrc" alt="Imagen del Servicio" class="responsive-image">
    </div>
    <div class="section-text">
      <h2 class="main-title">{{ mainTitle }}</h2>
      
      <!-- Iterar sobre las secciones -->
      <ng-container *ngFor="let section of sections">
        <h3 class="sub-title">{{ section.title }}</h3>
        <p class="paragraph">{{ section.content }}</p>
        
        <!-- Mostrar lista si está presente -->
        <ul *ngIf="section.list?.length">
          <li *ngFor="let item of section.list">{{ item }}</li>
        </ul>
      </ng-container>
    </div>
  </div>
</section>